// ===============
// colors palette
// ===============
:root {
  --Main-Background-1: #FDFDFF;
  --Main-Background-2: #F4F7FA;
  --Main-Background-3: #E8EFF5;
  --Orange-100: #F56630;
  --White-100: #FFFFFF;
  --Blue-100: #D1DEF2;
  --Blue-200: #B3C8E8;
  --Blue-300: #95B3DC;
  --Blue-400: #799ECD;
  --Blue-50: #F0F4FB;
  --Blue-500: #5E89BB;
  --Blue-600: #4775A6;
  --Blue-700: #34618E;
  --Blue-800: #264E74;
  --Blue-900: #1D3B59;
  --Blue-source: #255988;
  --Green-100: #CDE3C6;
  --Green-200: #ACD0A3;
  --Green-300: #8EBD83;
  --Green-400: #71A967;
  --Green-50: #EEF6EC;
  --Green-500: #58944E;
  --Green-600: #42803A;
  --Green-700: #306B2A;
  --Green-800: #23561F;
  --Green-900: #1B4117;
  --Green-source: #609E56;
  --Light-Blue-100: #DCDDDE;
  --Light-Blue-200: #C5C7C8;
  --Light-Blue-300: #AFB1B3;
  --Light-Blue-400: #999B9E;
  --Light-Blue-50: #F3F4F4;
  --Light-Blue-500: #848789;
  --Light-Blue-600: #707275;
  --Light-Blue-700: #5C5F61;
  --Light-Blue-800: #494C4E;
  --Light-Blue-900: #38393B;
  --Light-Blue-source: #F4F7FA;
}
