.hero {
  padding: 32px 0;
  background: var(--Main-Background-1);
  // .hero__container
  &__container {
    @media (min-width: $pc) {
      max-width: 1644px;
    }
  }
}
.slider-hero {
  // .slider-hero__nav
  &__nav {
    width: calc(100% - 16px);
    position: absolute;
    left: 8px;
    bottom: 8px;
    right: 8px;
    justify-content: space-between;
    @media (min-width: $pc) {
      position: static;
    }
  }
  .slider-nav {
    .swiper-pagination {
      margin-top: 0;
      @media (min-width: $pc) {
        position: absolute;
        top: 24px;
        right: 32px;
        left: unset;
      }
      .swiper-pagination-bullet {
        background: var(--White-100);
      }
    }
    .swiper-button-prev, .swiper-button-next {
      margin-top: 0;
      border: 1px solid var(--White-100);
      color: var(--White-100);
      @media (any-hover: hover) {
        &:hover {
          background: rgba(255, 255, 255, 0.25);
        }
      }
      &:active {
        background: rgba(255, 255, 255, 0.35);
      }
      &.swiper-button-disabled {
        color: var(--Light-Blue-200);
      }
      @media (min-width: $pc) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .swiper-button-prev {
      left: 0;
      @media (min-width: $pc) {
        left: 32px;
      }
    }
    .swiper-button-next {
      right: 0;
      @media (min-width: $pc) {
        right: 32px;
      }
    }
  }
}
.slide-hero {
  position: relative;
  min-height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 31px;
  border-radius: 8px;
  overflow: hidden;
  @media (min-width: $pc) {
    justify-content: flex-end;
    padding-right: 124px;
    min-height: 776px;
  }
  // .slide-hero__bg-holder
  &__bg-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.75;
      z-index: 1;
      background: linear-gradient(82deg, rgba(55, 71, 86, 0) 32.67%, #374756 60.24%);
      pointer-events: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-position: 35% 0;
      object-fit: cover;
      transform: scale(1.2);
      transition: transform 0.4s;
      @media (min-width: $pc) {
        object-position: 0;
      }
    }
    .swiper-slide-active & {
      img {
        transform: scale(1);
      }
    }
  }
  // .slide-hero__content
  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 16px;
    max-width: 476px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease 0.1s, opacity 0.5s ease 0.1s;
    .btn-full {
      padding: 20px 24px;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.32px;
    }
    @media (min-width: $pc) {
      max-width: 576px;
      row-gap: 24px;
    }
  }
  &.swiper-slide-active {
    .slide-hero__content {
      visibility: visible;
      opacity: 1;
    }
  }
  // .slide-hero__title
  &__title {
    color: var(--White-100);
    font-size: 54px;
    font-weight: 600;
    line-height: 0.9;
    letter-spacing: -1.08px;
    &--small {
      font-size: 36px;
      letter-spacing: -0.72px;
    }
    @media (min-width: $pc) {
      font-size: 100px;
      line-height: 1;
      letter-spacing: -2px;
      &--small {
        font-size: 72px;
        line-height: 1;
        letter-spacing: -1.44px;
      }
    }
  }
  // .slide-hero__subtitle
  &__subtitle {
    color: var(--White-100);
    font-family: $fontThird;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.56px;
    @media (min-width: $pc) {
      font-size: 22px;
      line-height: 1.6;
    }
  }
  // .slide-hero__text-holder
  &__text-holder {
    color: var(--White-100);
    font-weight: 500;
    line-height: 1.4;
    @media (min-width: $pc) {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.32px;
    }
  }
}
