.seo {
    background: var(--Main-Background-2);
    position: relative;
    min-width: 320px;
    max-width: 1279px;

    .seo__container {
        display: flex;
        max-width: 800px;
        padding: 48px 16px 124px 16px;
        box-sizing: border-box;
        align-items: flex-start;
        align-content: flex-start;
        gap: 48px;
        flex: 1 0 0;
        flex-wrap: wrap;
        max-height: 576px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        .seo__container-tittle {
            display: flex;
            min-width: 288px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            flex: 1 0 0;

            .seo__container-tittle-paragraph {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;

                h3 {
                    color: var(--Light-Blue-900);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%;
                    letter-spacing: 0.32px;
                }

                p {
                    color: var(--Light-Blue-700);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 130%;
                    letter-spacing: 0.24px;
                }

                ul {
                    padding-left: 20px;
                }

                li {
                    color: var(--Light-Blue-700);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 130%;
                    letter-spacing: 0.24px;
                    list-style: disc;
                }
            }
        }

        .seo__container-content {
            display: flex;
            min-width: 288px;
            align-items: center;
            align-content: center;
            gap: 8px;
            flex: 1 0 0;
            flex-wrap: wrap;

            ul {
                display: flex;
                align-items: center;
                align-content: center;
                gap: 8px;
                flex-wrap: wrap;

                li {
                    display: flex;
                    padding: 8px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 99px;
                    background: var(--White-100);
                    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
                    color: var(--Light-Blue-800);
                    text-overflow: ellipsis;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                }
            }
        }
    }

    .seo__btn {
        display: flex;
        height: 125px;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 32px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(0deg, #FDFDFF 64.58%, rgba(253, 253, 255, 0.00) 100%);

        button {
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .collapsed._icon-CaretUp::after {
            transform: rotate(180deg);
            transition: all 0.3s ease-in-out;
        }

        ._icon-CaretUp::after {
            transform: rotate(0);
            transition: all 0.3s ease-in-out;
        }
    }
}

@media (min-width: 1280px) {
    .seo {
        max-width: 100%;

        .seo__container {
            padding: 96px 0px 176px 0px;
            max-width: 1176px;
            width: 100%;
            justify-content: space-between;

            .seo__container-tittle {
                display: flex;
                width: 576px;
                flex-direction: column;
                align-items: flex-start;
                gap: 48px;
                flex: none;
                flex-shrink: 0;

                .seo__container-tittle-paragraph {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 24px;
                    align-self: stretch;

                    h3 {
                        color: var(--Light-Blue-900);
                        font-family: Inter;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: -0.96px;
                    }

                    p {
                        color: var(--Light-Blue-700);
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 130%;
                        letter-spacing: 0.28px;
                    }

                    li {
                        color: var(--Light-Blue-700);
                        font-family: Inter;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 130%;
                        letter-spacing: 0.28px;
                    }
                }
            }

            .seo__container-content {
                display: flex;
                flex: none;
                width: 476px;
                align-items: center;
                align-content: center;
                gap: 16px 8px;
                flex-shrink: 0;
                flex-wrap: wrap;

                ul {
                    gap: 16px 8px;

                    li {
                        display: flex;
                        padding: 16px 24px;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;
                        border-radius: 99px;
                        background: var(--White-100);
                        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
                        overflow: hidden;
                        color: var(--Light-Blue-800);
                        text-overflow: ellipsis;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        letter-spacing: -0.72px;
                    }
                }
            }
        }

        .seo__btn {
            display: flex;
            box-sizing: border-box;
            height: 176px;
            padding: 120px 0px 32px 0px;
            justify-content: center;
            align-items: center;
            ._icon-CaretUp {
                color: var(--Blue-source);
                text-align: center;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 140%;
                &::after {
                    color: var(--Blue-source); 
                }
            }
        }
    }
}