.services {
  padding: 48px 0;
  @media (min-width: $pc) {
    padding: 64px 0;
  }
  // .services__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    @media (min-width: $pc) {
      row-gap: 64px;
    }
  }
  // .services__title
  &__title {
    color: var(--Blue-source);
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.72px;
    text-align: center;
    @media (min-width: $pc) {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: unset;
    }
  }
  // .services__video
  &__video {
  }
  // .services__items
  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
    @media (min-width: $pc) {
      gap: 48px;
    }
  }
  // .services__item
  &__item {
  }
  .video-services {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    @media (min-width: $pc) {
      row-gap: 32px;
    }
  }
  .video-holder {
    position: relative;
    height: 376px;
    @media (min-width: $pc) {
      height: 476px;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      object-position: bottom;
      @media (min-width: $pc) {
        object-position: top;
      }
    }
    .btn-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .author {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    @media (min-width: $pc) {
      row-gap: 8px;
    }
    // .author__name
    &__name {
      color: var(--Light-Blue-900);
      font-weight: 600;
      line-height: 1.4;
      @media (min-width: $pc) {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.72px;
      }
    }
    // .author__position
    &__position {
      font-size: 12px;
      letter-spacing: 0.24px;
      @media (min-width: $pc) {
        font-size: 14px;
        letter-spacing: 0.28px;
      }
    }
  }
}
.item-services {
  min-width: 288px;
  flex: 1 0 0;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  transition: all 0.4s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background: var(--Main-Background-2);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
      cursor: default;
      .item-services__icon {
        border: 1px solid var(--Blue-100);
        background: var(--Blue-100);
      }
    }
  }
  @media (min-width: $pc) {
    gap: 24px;
    min-width: 376px;
  }
  // .item-services__icon
  &__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid var(--Blue-100);
    background: var(--Blue-50);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.4s ease 0s;
    @media (min-width: $pc) {
      width: 80px;
      height: 80px;
    }
  }
  // .item-services__icon-holder
  &__icon-holder {
    width: 24px;
    height: 24px;
    @media (min-width: $pc) {
      width: 32px;
      height: 32px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .item-services__content
  &__content {
    h3 {
      color: var(--Light-Blue-900);
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      letter-spacing: -0.72px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      @media (min-width: $pc) {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.96px;
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }
  // .item-services__text-holder
  &__text-holder {
    font-size: 12px;
    letter-spacing: 0.24px;
    @media (min-width: $pc) {
      font-size: 14px;
      letter-spacing: 0.28px;
    }
  }
}